#jinja2: trim_blocks: True, lstrip_blocks: True
{# Configure ospf for IOS #}
{% if inventory_hostname in ospfs %}
  {% for ospf in ospfs[inventory_hostname] %}
{#================= Create Process OSPF ============================#}
    {% if 'vrf' in ospf %}
router ospf {{ ospf.ospf_num }}  vrf {{ ospf.vrf }}
    {% else %}
router ospf {{ ospf.ospf_num }}
    {% endif %}
    {% if 'router_id' in ospf %}
 router-id {{ ospf.router_id }}
    {% endif %}
    {% if 'passive_int' in ospf %}
      {% for pint in ospf.passive_int %}
 passive-interface {{ pint }}
      {% endfor %}
    {% endif %}    
    {% for net in ospf.networks %}
 network {{ net.net | ipaddr('network') }} {{ net.net | ipaddr('hostmask') }} area {{ net.area_num }}
    {% endfor %}
  {% endfor %}
{% endif %}
