#jinja2: trim_blocks: True, lstrip_blocks: True
{# Configure ospf for IOS #}
{% if inventory_hostname in ospfs %}
  {% for ospf in ospfs[inventory_hostname] %}
no router ospf {{ ospf.ospf_num }}
  {% endfor %}
{% endif %}
