#jinja2: trim_blocks: True, lstrip_blocks: True
{# Configure EIGRP for IOS #}
{% if  inventory_hostname in eigrp %}
{# ====================Configure EIGRP ================================== #}
  {% for eigrp in eigrp[inventory_hostname] %}
router eigrp {{eigrp.eigrp_name}}
{# ====================Address Family ================================== #}
 address-family ipv4 unicast autonomous-system {{ eigrp.address_family }}
    {% if  'router_id' in eigrp %}
    eigrp router-id {{ eigrp.router_id }}
    {% endif %}
{# ==================== Networks ================================== #}          
    {% for net in eigrp.networks %}
  network {{ net['net'] | ipaddr('network') }} {{ net['net'] | ipaddr('hostmask') }} 
    {% endfor %}
{# ==================== Stub Site Num ================================== #}              
    {% if  'stub_site' in eigrp %}
    eigrp stub-site {{ eigrp.stub_site }}
    {% endif %}
{# ==================== AF Interfaces ================================== #}          
    {% if  'af_int' in eigrp %}
      {% for af_int in eigrp.af_int %}
  af-interface {{ af_int.int_name }} 
   hello-interval {{ hello_interval }}
   hold-time {{ hold_time }}
        {% if  'split_horizon' in af_int %}
   no split-horizon      
        {% endif %}
  {# ==================== Stub WAN (AF Interfaces) ================================== #}
        {% if  'stub_int' in af_int %}
   stub-site wan-interface
        {% endif %}
  {# ==================== Summary address ================================== #}
        {% if  'summary_address' in af_int %}
          {% for summ in af_int.summary_address %}
            summary-address {{ summ | ipaddr('network') }} {{ summ | ipaddr('netmask') }} 
          {% endfor %}    
        {% endif %}        
{# ==================== Exit AF Interfaces ================================== #}        
   exit
      {% endfor %}    
    {% endif %}
{# ==================== Configure Delay on Interfaces ======================== #}
    {% if  'delay' in eigrp %}
      {% for delay in eigrp.delay %}
interface {{ delay.int_name }} 
 delay {{ delay.delay_num }} 
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
