#jinja2: trim_blocks: True, lstrip_blocks: True
{# Configure ospf for IOS #}
{#=============================================#}
{% for prot in redistribute %}
{#================= Create Process OSPF ============================#}
router {{ prot.proto_to }} {{ prot.proto_to_id }}
{%  for red in prot.red_from %}
    {% if prot.proto_to  == 'ospf' %}
        {% if 'metric' in prot %}
 redistribute {{ red.proto_from }} {{ red.proto_from_id }} metric {{ red.metric }} subnets
        {% else %}
 redistribute {{ red.proto_from }} {{ red.proto_from_id }} subnets
        {% endif %}
    {% endif %}
{#================= Create Process EIGRP ============================#}
    {% if prot.proto_to == 'eigrp' %}
 address-family ipv4 unicast autonomous-system {{ prot.proto_eigrp_as }}
  topology base
        {% if 'metric' in red %}
   redistribute {{ red.proto_from }} {{ red.proto_from_id }} metric {{ red.metric }}
        {% else %}
   redistribute {{ red.proto_from }} {{ red.proto_from_id }}
        {% endif %}
    {% endif %}
  exit
{#=============================================#}
{%  endfor %}

{% endfor %}
