#jinja2: trim_blocks: True, lstrip_blocks: True
{# Configure DMVPN for IOS #}
[
{%- for tuns in dmvpn.tunnels -%}
{%- for hb in tuns.hubs -%}
 '{{ hb }}',
{% endfor %}
{%- for spk in tuns.spokes -%}
 '{{ spk }}',
{% endfor %}
{% endfor %}
]
