#jinja2: trim_blocks: True, lstrip_blocks: True
{# Configure DMVPN for IOS #}
{% for tuns in dmvpn.tunnels %}
{# ====================Configure HUBs ================================== #}
  {% if  inventory_hostname in tuns.hubs %}
interface tunnel {{ tuns.tun_num }}
    {% if  'bw' in tuns.hubs[inventory_hostname] %}
 bandwidth {{ tuns.hubs[inventory_hostname].bw }}
    {% endif %}
 ip address {{ tuns.hubs[inventory_hostname].ip_add | ipaddr('address')}} {{ tuns.hubs[inventory_hostname].ip_add | ipaddr('netmask') }}
 ip mtu 1400
    {% if  'mtu' in tuns.hubs[inventory_hostname] %}
 ip mtu {{ tuns.hubs[inventory_hostname].mtu }}
    {% endif %}
 ip nhrp map multicast dynamic
 ip nhrp network-id {{ tuns.net_id }}
 ip nhrp redirect
 ip nhrp holdtime 300
 ip nhrp registration no-unique
 ip tcp adjust-mss 1360
    {% if  'mss' in tuns.hubs[inventory_hostname]  %}
 ip tcp adjust-mss {{ tuns.hubs[inventory_hostname].mss }}
    {% endif %}
 tunnel source {{ tuns.hubs[inventory_hostname].tun_src }}
 tunnel mode gre multipoint
 tunnel key {{ tuns.net_id }}
    {% if  'vrf' in tuns.hubs[inventory_hostname]  %}
 tunnel vrf {{ tuns.hubs[inventory_hostname].vrf }}
    {% endif %} 
 {% endif %}
{#====================Configure Spokes ==================================#}
 {% if inventory_hostname in tuns.spokes %}
interface tunnel {{ tuns.tun_num }}
    {% if  'bw' in tuns.spokes[inventory_hostname]  %}
 bandwidth {{ tuns.spokes[inventory_hostname].bw }}
    {% endif %}
 ip address {{ tuns.spokes[inventory_hostname].ip_add | ipaddr('address')}} {{ tuns.spokes[inventory_hostname].ip_add | ipaddr('netmask') }} 
 ip mtu 1400
   {% if  'mtu' in tuns.spokes[inventory_hostname]  %}
 ip mtu {{ tuns.spokes[inventory_hostname].mtu }}
    {% endif %}
 ip nhrp shortcut
 ip nhrp holdtime 300
 {% for nhs_hubs in tuns.hubs %}
 ip nhrp nhs {{ tuns.hubs[nhs_hubs].ip_add | ipaddr('address') }} nbma {{ tuns.hubs[nhs_hubs].ip_src }} multicast priority {{ tuns.hubs[nhs_hubs].pri }} cluster {{ tuns.hubs[nhs_hubs].cluster }}
 {% endfor %}
 ip nhrp nhs cluster 1 max-connections 1
 ip nhrp nhs fallback 20
 ip nhrp network-id {{ tuns.net_id }}
 ip nhrp registration no-unique
 if-state nhrp
 ip tcp adjust-mss 1360 
    {% if  'mss' in tuns.spokes[inventory_hostname]  %}
 ip tcp adjust-mss {{ tuns.spokes[inventory_hostname].mss }}
    {% endif %}
 tunnel source {{ tuns.spokes[inventory_hostname].tun_src }}
 tunnel mode gre multipoint
 tunnel key {{ tuns.net_id }} 
    {% if  'vrf' in tuns.spokes[inventory_hostname]  %}
 tunnel vrf {{ tuns.spokes[inventory_hostname].vrf }}
    {% endif %} 
  {% endif %}
{#======================================================#}
 {% endfor %}
